<% include ../Partials/head %>

<body style=" background: #f1f2f7">
<!-- Left Panel -->

<% include ../Partials/header %>

<!-- Right Panel -->

<% include ../Partials/footer %>

</body>
<script src="assets/js/myJS.js" type="text/javascript"> </script>
</html>
